In [1]:
print("hello world")

hello world

In [1]:
# 자바 : 정적타입 : 개발자가 타입을 명시 : String name = "김준석";
# 파이썬 : 동적타입 : 메모리에 할당된 값을 보고 언어가 유추하여 타입 지정 : name = "김준석"
age = 30
name = "김도위"
print(name)

김도위

In [2]:
class1 = "휴먼교육센터 3클래스 "
print(class1 + name)

휴먼교육센터 3클래스 김도위

In [4]:
# import : 라이브러리 pandas를 가져다 쓰겠다.
# as : 별칭 (별칭으로 라이브러리를 지목)
import pandas as pd
# dict_data : 변수 : 변수하는 수 <> 상수
# dict_data : 변수이름을 지어서 =(대입연산자 : 우측항 데이터를 죄측항 변수에 저장(할당))
# 'a' : 1 (a를 호출하면 1이라는 값이 출력)
# 'a' 문자열, 1은 정수(숫자)
dict_data = {'a':1, 'b':2, 'c':3, '김준석':'교사'}
# pd(pandas 별칭)의 Series 메서드를 실행
# 인자값 dict_data를 넣음
sr = pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a       1
b       2
c       3
김준석    교사
dtype: object

In [5]:
# 참조타입 : 변수와 변수값을 연결하는(주소값) 타입 <> 기본타입
list_data = ['2019-01-02', 2.14, 'ABC', 100, True]
# sr이라는 변수이름에 원래 데이터는 dict_data이였으나, list_data로 만들어진 값을 sr변수에 대체 연결함.
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          2.14
2           ABC
3           100
4          True
dtype: object

In [23]:
# 학생의 개인정보를 저장하는 딕셔너리 배열을 만들고,
# (이름, id, pw, 성별 등등)
# 그 중에 이름을 출력하는 print메서드를 실행하시오.

# {}중괄호: map(key, value)
#  ex = {key:value,...}
# []대괄호: 배열
#  ex = [1,2,3,4,...]

Student_list = {'이름': '김도위', 'id': 'rlaehdnl', 'pw':'123asd', '성별':'남', '직업':'학생'}
# 향상된 반복문
# 자바) for(String item : stringArray)
# 기본 반복문과 동일하나, 배열 처음부터 끝까지 모든 조회를 간략화한 코드 = for(i=0; i<stringArray.length; i++)
# 파이썬)
# item in itemArray:
# itemArray 배열을 모두 순회하면서 하나씩 가져옴.
Student_list2 = [{'이름': '김도위', '성별':'남', '직업':'학생'},{'이름':'도위','성별':'남','직업':'학생'}]
if '이름' in Student_list :
    print('나의 이름은 ' + Student_list['이름'])
else:
    print('없는 이름입니다.')
print(Student_list2)
if '이름' in Student_list2 :
    print('나의 이름은 ' + Student_list2['이름'])
else:
    print('없는 이름입니다.')

나의 이름은 김도위
[{'이름': '김도위', '성별': '남', '직업': '학생'}, {'이름': '도위', '성별': '남', '직업': '학생'}]
없는 이름입니다.

In [24]:
sr=pd.Series(Student_list, index=['이름','id','pw','직업','성별'])
print(sr)

이름         김도위
id    rlaehdnl
pw      123asd
직업          학생
성별           남
dtype: object

In [26]:
print(sr[0:3])

이름         김도위
id    rlaehdnl
pw      123asd
dtype: object

In [28]:
df = pd.DataFrame([[15,'남','덕영중'],
                   [17,'여','수리중']],
                  index = ['준서','예은'],
                  columns=['나이','성별','학교'])
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [29]:
exam_data = {'수학':[90,80,70],
             '영어':[98,89,95],
             '음악':[85,95,100],
             '체육':[100,90,90]}
ef = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(ef)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [33]:
ef2 = ef[:]
ef2.drop(['우현','인아'],axis=0,inplace=True)
print(ef2)

    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\h\AppData\Local\Temp\ipykernel_5920\1392508626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ef2.drop(['우현','인아'],axis=0,inplace=True)

In [34]:
exam_data = {'이름' : ['서준','우현','인아'],
             '수학':[90,80,70],
             '영어':[98,89,95],
             '음악':[85,95,100],
             '체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [41]:
print(len(df))
df.loc[len(df)]=['동규',90,80,70,60]
# 자바는 고정, 가변 배열이 나누어진 반면에,
# df[3]의 경우 고정배열로 한정된 메모리 범위 안에서 값을 추가.
# df.add[3]의 경구 가변배열로 마지막 칸 이후에 추가적으로 값 추가.
# 파이썬의 데이터프레임은 바로 배열 번호를 작성하면 자유롭게 추가 가능하다.

5

In [42]:
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3  동규  90  80   70   60
4  동규  90  80   70   60
5  동규  90  80   70   60

In [49]:
df.loc['행5']=df.loc[0]
print(df)

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3   동규  90  80   70   60
행5  서준  90  98   85  100

In [50]:
df.set_index('이름',inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
동규  90  80   70   60
서준  90  98   85  100

In [53]:
df.iloc[1][3]=99
df.loc['서준']['체육']=90
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85   80
우현  80  89   95   99
인아  70  95  100   90
동규  90  80   70   60
서준  90  98   85  100

C:\Users\h\AppData\Local\Temp\ipykernel_5920\4010634859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['서준']['체육']=90

In [58]:
# 선형대수
# 전치행렬 = 행,열 바꾸기
test=df.transpose()
print(test)
# df = df.T : 클래스로 전치행렬
# 파이썬은 메서드를 사용하여 데이터 처리하는 것이 암묵적 룰

이름  서준  우현   인아  동규   서준
수학  90  80   70  90   90
영어  98  89   95  80   98
음악  85  95  100  70   85
체육  80  99   90  60  100

In [ ]:
# 데이터프레임은 2중배열로 column과 row로 구성되어 있다.(=테이블)
# df.loc[위치] : 튜플 추가
# drop : 튜플(row)삭제
# set_index : 바꾸기
# transpose : 행열 바꾸기

In [6]:
# 학생 회원의 정보를 담는 데이터프레임을 만들고,
# 추가하는 메서드, 삭제하는 메서드, 변경하는 메서드
# 만들어서 활용하는 코드를 자유롭게 만드시오.

# 예) 이름, 학번, 성별, 입학날짜, 기타사항.
# 컬럼(데이터 프레임)을 만들고
# loc[len()], drop, set_index()를 각각 실행하는
# def 메서드 3개를 만들어 실행하는 코드 작성
# *SOLID 원칙에서 하나의 메서드는 하나의 기능만 실행 가능하게 만들기.
exam_data = {'이름' : ['서준','우현','인아'],
             '수학':[90,80,70],
             '영어':[98,89,95],
             '음악':[85,95,100],
             '체육':[100,90,90]}
global ef
ef=pd.DataFrame(exam_data)

def funcInsert(name,num1,num2,num3,num4) :
    global ef
    ef.loc[len(ef)]=[name,num1,num2,num3,num4]
#     ef.lic[5] : ef변수 안에 있는 데이터 프레임의 
#     5번째 행(줄, 튜플)에 =(대입연산자) 우측에 있는 배열값을 저장
#     df.append(data_set,ignore_index=True)

def funcUpdate(name,num1,num2,num3,num4):
    global ef
    ef.loc[ef.이름 == name,('수학','영어','음악','체육')] = (num1,num2,num3,num4)
    
def funcDelete(name):
    global ef
#     df변수에 df.이름이 '준수'가 아닌 값을 가져와서 df에 할당(저장)
    # ef= df.loc[df.이름 != '준수']
    ef = ef.drop(index=ef.loc[ef.이름 == name].index)
#     ef.drop(name, axis=0)
    
print(ef)
print("\n")  
funcInsert('준수',10,20,30,40)
print(ef)
print("\n")
funcUpdate('준수',90,90,90,90)
print(ef)
print("\n")
funcDelete('준수')
print(ef)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3  준수  10  20   30   40


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3  준수  90  90   90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [96]:
# 1. 함수(메서드) 개념
# 함수 : 재활용이 가능한 코드의 집합 = 메서드
# 2. 전역변수, 지역변수
# 전역변수 : 여러 메서드들이 사용할 수 있는 변수
# 지역변수 : 메서드 안에서만 존재하는 함수로 밖으로 나사면 소멸
a=10;
# 메서드, 함수
def test() :
# 변수 a는 전역변수에 a를 지칭(가져옴)
# global 선언문이 없담면, test()함수 내에서 지역변수 a를 만들어서 20데이터를 저장.
    global a
    a=20
    print(a)
# a의 값은 전역변수 a로 출력
print(a)
test()
print(a)

10
20
20